<%= render 'shared/banner', user: @user %>
<section id="profile-content">
  <header id="profile-header">
    <h1>Edit Profile</h1>
  </header>
  <%= form_for [@user, @profile] do |f| %>
    <div id="profile-content-body" class="container">
      <div class="row">
        <div class="col-sm-4">
          <h2>Basic Information</h2>
          <table class="table">
            <tbody>
              <tr>
                <td><%= f.label :birthday, "Birthday:" %></td>
                <td><%= f.date_field :birthday %></td>
              </tr>
              <tr>
                <td><%= f.label :college, "College:" %></td>
                <td><%= f.text_field :college %></td>
              </tr>
              <tr>
                <td><%= f.label :hometown, "Hometown:" %></td>
                <td><%= f.text_field :hometown %></td>
              </tr>
              <tr>
                <td><%= f.label :current_location, "Currently Lives:" %></td>
                <td><%= f.text_field :current_location %></td>
              </tr>
            </tbody>
          </table>
          <h2>Contact Information</h2>
          <table class="table">
            <tbody>
              <tr>
                <td class="bold">Email:</td>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <td><%= f.label :phone, "Phone:" %></td>
                <td><%= f.text_field :phone %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-8">
          <h2> Words to Live By</h2>
          <%= f.text_area :tagline %>
          <h2>About Me</h2>
          <td><%= f.text_area :about_me %></td>
        </div>
      </div>
    </div>
    <div id="submit-container">
      <%= f.submit 'Save Changes', class: "btn btn-primary", id: "big-submit" %>
    </div>
  <% end %>
</section>
