<% present comment do |comment_presenter| %>
  <div class="post-comment" data-id="<%= comment.id %>" data-type="comment">
    <div class="comment-thumbnail-container no-small">
      <%= profile_photo(comment.author, :thumb, "comment-thumbnail") %>
    </div>
    <div class="comment content">
      <p class="comment-header">
        <%= link_to comment.author.name, user_activities_path(comment.author), class: 'underlined' %>&nbsp
        <span class="time faded">
          said <%= time_ago_in_words(comment.created_at) %> ago
        </span>
      </p>
      <p>
        <%= comment.content %>
      </p>
      <div class="comment-footer">
      <!-- TODO, set likable ID outside of markup? -->
        <span class="like"><%= comment_presenter.like_link %></span>
        <%= comment_presenter.delete_link('delete-comment') %>
        <span class="other-likes faded"><%= comment_presenter.num_likings %></span>
      </div>
    </div>
  </div>
<% end %>