<% present user.profile do |profile_presenter| %>
  <header id="banner">
    <div id="cover-photo-container"></div>
    <div id="profile-photo-container">
      <%= profile_photo(user) %>
    </div>
    <h2 id="name"><%= user.name %></h2>
    <nav id="banner-nav">
      <ul id="banner-tabs">
        <li class="first">
          <%= link_to user_activities_path(user) do %>
            <p>Timeline</p>
          <% end %>
        </li>
        <li>
          <%= link_to user_profile_path(user) do %>
            <p>About</p>
          <% end %>
        </li>
        <li>
          <a href="photos.html"
              <p>Photos <span class="faded">(123)</span></p>
            </a>
        </li>
        <li class="selected last">
          <%= link_to user_friendships_path(user) do %>
            <p>Friends <span class="faded"><%= user.friendships.size %></span></p>
          <% end %>
        </li>
      </ul>
      <%= profile_presenter.edit_or_friend_link %>
    </nav>
  </header>
<% end %>