<% present photo do |photo_presenter| %>
  <li>
    <div class="card post">
      <div class="card-body">
        <header class="post-header">
          <%= image_tag 'tyrion_profile', class: 'post-thumbnail' %>
          <p>
            <span class="name underlined">
              <%= link_to photo.author.name, user_posts_path(photo.author) %>
            </span>
            <br>
            <span class="time faded">
              posted <%= time_ago_in_words(photo.created_at) %> ago
            </span>
          </p>
        </header>
        <p class="post-content">
          <%= image_tag photo.image.url(:large), class: 'post-photo' %>
        </p>
      </div>
      <div class="card-footer">
        <ul class="post-actions underlined">
          <!-- TODO, set likable ID outside of markup? -->
          <li class="like"><%= photo_presenter.like_link %></li>
          <li><a href="#">Comment</a></li>
          <%= photo_presenter.delete_link %>
        </ul>
        <p class="likes"><%= photo_presenter.first_and_other_likers %></p>
        <%= photo_presenter.comments %>
      </div>
    </div>
  </li>
<% end %>