<% present post do |post_presenter| %>
  <li>
    <div class="card post">
      <div class="card-body">
        <header class="post-header">
          <%= profile_photo(post.author, :thumb, "post-thumbnail") %>
          <p>
            <span class="name underlined">
              <%= link_to post.author.name, user_activities_path(post.author) %>
            </span>
            <br>
            <span class="time faded">
              posted <%= time_ago_in_words(post.created_at) %> ago
            </span>
          </p>
        </header>
        <p class="post-content">
          <%= post.content %>
        </p>
      </div>
      <div class="card-footer">
        <ul class="post-actions underlined">
          <!-- TODO, set likable ID outside of markup? -->
          <li class="like"><%= post_presenter.like_link %></li>
          <li><a href="#">Comment</a></li>
          <%= post_presenter.delete_link %>
        </ul>
        <p class="likes"><%= post_presenter.first_and_other_likers %></p>
        <%= post_presenter.comments %>
      </div>
    </div>
  </li>
<% end %>