<% present photo do |photo_presenter| %>
  <li data-id="<%= photo.id %>" data-type="photo">
    <div class="card post">
      <div class="card-body">
        <header class="post-header">
          <%= profile_photo(photo.author, :thumb, "post-thumbnail") %>
          <p>
            <span class="name underlined">
              <%= link_to photo.author.name, user_activities_path(photo.author) %>
            </span>
            <br>
            <span class="time faded">
              posted <%= time_ago_in_words(photo.created_at) %> ago
            </span>
          </p>
        </header>
        <p class="post-content">
          <%= link_to photo do %>
            <%= image_tag photo.image.url(:large), class: 'post-photo' %>
          <% end %>
        </p>
      </div>
      <div class="card-footer">
        <ul class="post-actions underlined">
          <li class="like"><%= photo_presenter.like_link %></li>
          <li class="like"><a href="#" class="open-comment-form" data-comment-link-id="<%= photo.id %>" data-comment-link-type="photo">Comment</a></li>
          <li><a href="#"><%= photo_presenter.profile_photo_link %></a></li>
          <%= photo_presenter.delete_link %>
        </ul>
        <p class="likes"><%= photo_presenter.first_and_other_likers %></p>
        <%= photo_presenter.comments %>
      </div>
    </div>
  </li>
<% end %>