<%= render 'shared/banner', user: @user %>
<% present @user.profile do |profile_presenter| %>
  <section id="profile-content" class="no-border">
    <div id="profile-content-body">
      <div id="timeline-row" class="row">
        <div id="timeline-left" class="col-sm-4">
          <div class="card">  
            <header class="card-header">
              <h3>About</h3>
            </header>
            <div class="card-body">
              <table class="table">
                <tbody>
                <tr>
                  <td class="bold">Birthday:</td>
                  <td><%= @user.profile.birthday.strftime("%B %d, %Y") if @user.profile.birthday %></td>
                </tr>
                <tr>
                  <td class="bold">College:</td>
                  <td><%= @user.profile.college %></td>
                </tr>
                <tr>
                  <td class="bold">Hometown:</td>
                  <td><%= @user.profile.hometown %></td>
                </tr>
                <tr>
                  <td class="bold">Currently Lives:</td>
                  <td><%= @user.profile.current_location %></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card">  
            <header class="card-header">
              <h3>Photos</h3>
            </header>
            <div class="card-body">
              <div id="card-photos">
                <% @user.photos.each do |photo| %>
                  <div>
                    <%= link_to photo do %>
                      <%= image_tag photo.image(:thumb) %>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="link underlined">
                <a href="photos.html">See more photos</a>
              </div>
            </div>
          </div>
          <div class="card">  
            <header class="card-header">
              <h3>Friends (<%= @user.friendships.size %>)</h3>
            </header>
            <div class="card-body">
              <div id="card-photos">
                <% @user.friends.each do |friend| %>
                  <div>
                    <%= profile_photo(friend) %>
                    <%= link_to user_activities_path(friend) do %>
                      <p><%= friend.name %></p>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div id="timeline-right" class="col-sm-8">
          <%= profile_presenter.post_or_photo_form_if_current_user(@photo) %>
          <ul id="activities-list">
            <% present_collection @activities do |activity_presenter| %>
              <%= activity_presenter.render_partials %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </section>
<% end %>